.countires-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 45px;
    row-gap: 60px;
}

.countires-main{
    width: 100%;
}


.countries-visited{
    text-align: center;
}


.countries-visited-img{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 25px;
}

.countries-visited-img img{
    width: 125px;
    height: 13vh;
}


@media screen and (max-width:639px){
    .countires-container{
        grid-template-columns: repeat(1, 1fr);
    }
}